
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(36, 36, 36);
}
html {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


.btn {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.header {
  display: flex;
  gap: 50px;
  justify-content: right;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 60px;
  top: 0;
  padding-right: 20px;
  position: fixed;
  right:0;
  left: 0;
  z-index: 10000;
}

.btn-back {
  margin-right: 75%;
  display: none;
}

.btn-unfocus {
  margin-right: 75%;
  display: none;
}

.footer {
  bottom: 0;
}

.main-container {
  padding-top: 60px;
  display: none;
  height: 100%

}
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #28a745; */
}

.screen {
  /* width: calc(33.33% - 10px); */
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9; 
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #c9c9c9;
}

.department {
  width: calc(20% - 10px); 
  aspect-ratio: 1 / 1;        
  background-color: #ddd;     
  overflow: hidden;           
  border: 1px solid #f00808;  
  border-radius: 50%;         
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 30px;
}

.staff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 10px);
  aspect-ratio: 16 / 9;
  background-color: #ffffff;
  /* padding: 20px; */
  position: relative;
  border-radius: 5px;
}

.staff_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff_avatar {
  height: 60%;
  width: 40%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f00808;
  animation: blink-border 1s infinite;
}

.staff_avatar img {
  max-width: 150%;
  max-height: 150%; 
  object-fit: contain; 
}

.staff_name {
  position: absolute;
  bottom: -5%;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 30px 0;
}
@keyframes blink-border {
  0% {
    border-color: #f00808;
  }
  50% {
    border-color: transparent; /* Ẩn viền */
  }
  100% {
    border-color: #f00808;
  }
}

/* Media query cho màn hình nhỏ hơn */
@media (max-width: 1000px) {
  .staff {
    width: calc(50% - 10px);
  }
}

@media (max-width: 500px) {
  .staff {
    width: 100%;
    height: 100%;
  }
}

.screen--focus {
  width: 1080px;
  border: 1px solid red;
}


.screen__img {
  width: 100%;
  height: 100%;
}

/* form đăng nhập */
.login-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.login-content {
  background: rgb(192, 208, 213);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  width: 500px;
  margin: auto;
 
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: large;
}

.form__group {
  width: 100%;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: medium;
}

#username, #password {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
}

.btn--login {
  margin: 10px 30%;
  font-size: medium;
}

.form__group.invalid #username,
.form__group.invalid #password{
  border-color: #f33a58;
}

.login-message.invalid {
  font-size: medium;
  color: #f33a58;
  text-align: center;
}